.table-container.review-table {
  .user-details {
    display: flex;
    align-items: center;
    gap: 8px;

    img {
      border-radius: 100%;
      width: 60px;
      height: 60px;
    }
    p {
      font-size: 14px;
    }
  }
  .actions {
    min-width: 40px;
  }
  .text {
    min-width: 480px;
  }
  .date {
    min-width: 100px;
  }
  .rating {
    min-width: 140px;
  }
  .product-name {
    min-width: 170px;
  }
  .reviewer-name {
    min-width: 175px;
  }
}
