.search-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  .search-container {
    display: flex;
    border: 1px solid $admin-border-color;
    border-radius: 8px;
    padding-left: 10px;
    width: 100%;
    max-width: 500px;

    img {
      max-width: 22px;
    }
    input {
      border: none;
      width: 100%;
    }
    button {
      border-left: 1px solid $admin-border-color;
      padding: 4px 8px;
    }
  }

  .filters-container {
    display: flex;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    select {
      padding: 10px;
      cursor: pointer;
      border-radius: 8px;
      background-color: transparent;
      border: 1px solid $admin-border-color;
      font-size: 14px;
    }

    @include breakpointDynamic(650px) {
      & {
        width: fit-content;
      }
    }
  }
}

// form input even columns admin panel
.form-even-columns {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.4rem;

  @include breakpointDynamic(650px) {
    & {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.product-images {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  @include breakpointDynamic(650px) {
    grid-template-columns: 1fr 1fr;
    grid-column: span 2 / 3;
  }
  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .img {
      width: 100%;
      max-width: 200px;
      background-color: $text-muted;
      border-radius: 8px;
      min-height: 200px;
    }
  }
}

.table-container {
  overflow-x: scroll;
  scrollbar-width: thin;
  padding-block: 20px;
  table {
    border-collapse: collapse;
    // border: 1px solid $admin-border-color;
    // border-top: none;
    border-radius: 8px;
  }
  tr {
    margin-block: 6px;
  }
  th {
    text-align: left;
    background-color: $bg-light;
  }
  thead {
    tr:first-of-type {
      th:first-of-type {
        border-top-left-radius: 8px;
      }
      th:last-of-type {
        border-top-right-radius: 8px;
      }
    }
  }
  td,
  th {
    padding: 4px 10px;
  }
  td *,
  td,
  th {
    font-size: 14px;
  }

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 22px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 22px;
  }
}
