.btn-container {
  display: flex;
  gap: 52px;
  justify-content: space-between;

  .btn {
    border-radius: 16px;
    padding: 6px 16px;
  }
}
.btn-container.admin {
  width: 100%;
  .link {
    width: fit-content;
  }
}

.btn {
  background-color: $primary-color;
  cursor: pointer;
  color: $white;
  border-radius: 8px;
  padding: 10px 1rem;
  transition: 0.4s ease;
  margin-block: 10px;

  &:hover {
    transition: 0.4s ease;
    background-color: darken($color: $primary-color, $amount: 10%);
  }
}

.btn:active {
  transform: scale(1.01);
}
