// product container
.even-columns {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  min-height: 200px;

  img {
    width: 100%;
    max-width: none;
    border-radius: 22px;
  }

  .text {
    text-align: center;
  }

  @include breakpointDynamic(730px) {
    grid-template-columns: 1fr 1fr;
  }
  @include breakpointDynamic(1000px) {
    gap: 3rem;
  }
}

// product card

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 2rem;
  padding: 16px;

  .product-card {
    min-width: 250px;
    height: 430px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-self: center;
    gap: 16px;
    text-align: center;

    .product-image {
      width: 100%;
      height: 256px;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .description {
      text-align: left;
      color: darken($text-muted, 20%);
    }
  }

  &.overflow {
    overflow-x: scroll;
    grid-template-columns: none;
    display: flex;
    justify-content: unset;
    scrollbar-width: thin;

    .product-card {
      width: 260px;
    }
  }
  /* For WebKit-based browsers (Chrome, Safari) */
  &.overflow::-webkit-scrollbar {
    width: 12px;
  }

  &.overflow::-webkit-scrollbar-track {
    border-radius: 22px;
  }

  &.overflow::-webkit-scrollbar-thumb {
    border-radius: 22px;
  }
}

.cart-hover-container {
  display: none;
  padding-top: 30px;
  position: absolute;
  top: 40px;
  right: 6%;
  .cart-hover-box {
    width: 300px;
    padding: 16px 10px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: 0px 2px 2px $text-muted;
    z-index: 1000;

    .cart-items {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .cart-item-header,
      .cart-item-box {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $text-muted;
        padding-block: 20px;
      }
      .cart-item-box > * {
        height: fit-content;
      }
      .item-details {
        max-width: 215px;
        min-width: 200px;
        display: flex;
        gap: 1rem;

        .item-image {
          border-radius: 8px;
          background-color: $bg-grey;
          padding: 10px;
          min-width: 70px;
          width: 80px;
          height: 80px;

          img {
            width: 100% !important;
          }
        }

        .item-attributes {
          display: flex;
          flex-direction: column;
          gap: 6px;

          .remove {
            text-decoration: underline;
            color: rgb(122, 17, 17);
            margin-top: 6px;
          }
        }
      }
      .remove > i.bx-x {
        font-size: 24px;
      }

      .qty {
        align-items: center;
        border: 1px solid $text-muted;
        border-radius: 8px;
        width: fit-content;
        height: fit-content;
        padding: 0px;

        button {
          display: inline-block;
          border: none;
          padding-inline: 4px;
          background-color: darken($bg-grey, 20%);
        }
        button:first-of-type {
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
        }
        button:last-of-type {
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }
        input {
          width: 30px;
          border-radius: 0px;
          border: none;
          padding: 0px;
          text-align: center;
          height: 100%;
        }
      }
    }
  }
}

@include breakpointDynamic(780px) {
  .cart-icon:hover + .cart-hover-container,
  .cart-hover-container:hover {
    display: flex;
  }
}

// skeletons
.skeleton-card {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 16px;
  width: 256px;
  min-width: 250px;
  height: 370px;

  .skeleton-image {
    width: 100%;
    height: 256px;
    background-color: $bg-grey;
    border-radius: 8px;
  }
  p {
    width: 100%;
    height: 18px;
    background-color: $bg-grey;
    border-radius: 8px;
  }
  .skeleton-btn-container {
    display: flex;
    gap: 10px;
  }
}

.skeleton-testimonial {
  min-width: 180px;
  max-width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
  border-radius: 8px;
  padding: 16px 10px;

  .image {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: $bg-grey;
  }

  .name {
    height: 18px;
    width: 100%;
    border-radius: 8px;
    background-color: $bg-grey;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;

    span {
      display: inline-block;
      background-color: $bg-grey;
      width: 100%;
      height: 3px;
      border-radius: 8px;
    }
  }
}
