#product-detail {
  .container {
    .product-detail-columns {
      display: grid;
      gap: 2rem;
      grid-template-columns: 1fr;
      justify-content: center;
      @include breakpointDynamic(900px) {
        & {
          grid-template-columns: 1fr 1fr;
        }
      }

      .img {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        .big-image {
          width: 100%;
          display: flex;
          overflow-x: hidden;

          img {
            width: 100%;
            visibility: hidden;
            flex-shrink: 0;
            max-width: unset;
            transform: translateX(0%);
            transition: 0.4s;
          }
          img.visible {
            transition: 0.4s;
            visibility: visible;
            width: 100%;
          }
        }

        .small-images-container {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;

          button {
            width: 18px;
            height: 18px;
            border: 2px solid $primary-color;
            border-radius: 100%;
            padding: 3px;

            &.active {
              background-color: $primary-color;
            }

            img {
              object-fit: contain;
              display: none;
              border-radius: 100%;
              height: 100%;
            }

            @include breakpointDynamic(900px) {
              & {
                width: 60px;
                height: 60px;

                img {
                  display: inline-block;
                }
              }
            }
          }
        }
        @include breakpointDynamic(900px) {
          & {
            flex-direction: row;
          }
          .small-images-container {
            flex-direction: column;
          }
        }
      }

      .text {
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2 {
          text-align: left;
        }

        .price {
          display: flex;
          gap: 1rem;

          .sale-price {
            color: $text-muted;
            text-decoration: line-through;
          }
        }
        .rating {
          display: flex;
          gap: 1rem;

          a {
            text-decoration: underline;
          }
        }
        .color-container {
          display: flex;
          gap: 1rem;

          & > .colors {
            display: flex;
            align-items: center;
            gap: 6px;

            button {
              width: 24px;
              height: 24px;
              background-color: $primary-color;
              border-radius: 100%;
            }
          }
        }

        .btn-container {
          align-items: center;
          justify-content: start;
          gap: 2rem;
          button {
            border-radius: 8px;
            border: 1px solid $text-muted;
            color: $black;
            padding: 10px 16px;
            height: fit-content;

            &:hover {
              background-color: darken($white, 5%);
            }
          }
          .btn {
            border-radius: 8px;
            padding: 10px 16px;
          }
        }

        .product-icons {
          display: flex;
          gap: 1rem;
          justify-content: center;

          & > div {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;

            img {
              width: 60px;
            }
          }
        }
      }

      @include breakpointDynamic(900px) {
        .img {
          padding-inline: 1rem;
          background-color: $bg-light;
          border-radius: 8px;
          padding: 1.4rem 0.5rem;
        }

        button.active {
          background-color: unset !important;
        }
      }
    }
  }
}

#reviews {
  .container {
    max-width: 830px;
    margin-inline: auto;

    .review-container {
      & > div:first-of-type {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .review-list {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-block: 2rem;

        .review {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .name {
            display: flex;
            align-items: center;
            gap: 10px;
            span {
              padding: 8px;
              font-size: 16px;
              background-color: purple;
              border-radius: 100%;
              color: $white;
            }
          }
          .rating-date {
            display: flex;
            align-items: center;
            gap: 1rem;

            .stars {
              display: flex;
              gap: 4px;

              i {
                color: gold;
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }
}

.add-review-container {
  display: none;
  padding-block: 100px;
  background-color: #00000038;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  z-index: 998;

  &.open {
    display: flex;
  }

  form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px;
    border-radius: 8px;
    background-color: #fff;
    max-width: 100%;
    width: 600px;

    .close-review {
      position: absolute;
      right: 10px;
      top: 10px;
      text-align: left;
      cursor: pointer;
      svg {
        font-size: 18px;
      }
    }
    .user-details {
      align-self: flex-start;

      display: flex;
      align-items: center;
      gap: 10px;

      .letter {
        padding: 6px 10px;
        border-radius: 100%;
        background-color: $primary-color;
        font-size: 14px;
        font-weight: 500;
        color: $white;
      }
      p {
        font-size: 16px;
      }
    }
    .stars {
      display: flex;
      gap: 6px;
      cursor: pointer;
      svg {
        font-size: 24px;
        font-weight: normal;
      }
    }
    textarea {
      width: 100%;
    }
  }
}
