.admin-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 16px;
  height: 60px;
  border-bottom: 1px solid $admin-border-color;

  .nav-user-icons {
    img {
      max-width: 26px;
      width: 24px;
      height: 24px;
    }
    display: flex;
    align-items: center;
    gap: 16px;

    @include breakpointDynamic(656px) {
      & {
        gap: 24px;
      }
    }

    .language {
      display: flex;
      align-items: center;
      gap: 4px;

      span {
        font-size: 16px;
      }
    }
    .clicked.menu-button span:first-child {
      translate: 0px 7px;
      transform: rotate(45deg);
      transition: 0.6s;
    }

    .clicked.menu-button span:nth-child(2) {
      opacity: 0;
      transition: 0.6s;
    }

    .clicked.menu-button span:last-child {
      translate: 0px -7px;
      transform: rotate(-45deg);
      transition: 0.6s;
    }
    .menu-button {
      flex-direction: column;
      background-color: transparent;
      gap: 5px;
      cursor: pointer;
    }

    .menu-button span {
      width: 25px;
      height: 2px;
      border-radius: 2px;
      background-color: $black;
      display: block;
      transition: 0.6s;
    }
  }
}
.menu-button {
  display: flex;
}
@include breakpointDynamic(900px) {
  .menu-button {
    display: none;
  }
}
