#navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  z-index: 11;
  margin: 0 auto;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
    gap: 2rem;

    // desktop nav start
    .desktop-nav {
        display: none;
        justify-content: space-between;
        align-items: center;
        
      .nav-links {
        display: flex;
        gap: 1rem;
        align-items: center;

        & > * {
          padding-block: 10px;
        }

        .dropdown {
          button {
            display: flex;
            gap: 6px;
            align-items: center;
          }

          .drop-down-menu-container {
            position: absolute;
            left: 35%;
            display: none;
            padding-top: 20px;

            .drop-down-menu {
              display: flex;
              flex-direction: column;
              gap: 10px;
              background-color: $white;
              width: 180px;
              padding: 14px 18px;
              box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
            }
          }

          button:hover + .drop-down-menu-container,
          .drop-down-menu-container:hover {
            display: block;
          }
        }
      }

      
      @include breakpointDynamic(850px) {
          .nav-links {
              gap: 2rem;
            }
            .dropdown button {
                gap: 10px;
            }

        }
    }
    // desktop nav end

    .right-aligned {
      display: flex;
      gap: 1rem;
      align-items: center;

      .icons-container {
        display: flex;
        gap: 0.8rem;
        align-items: center;

        img {
          width: 24px;
        }
      }
      .profile{
          display: none;
      }
    }
    .menu-button {
      display: flex;
      flex-direction: column;
      background-color: transparent;
      gap: 5px;
      cursor: pointer;

      span {
        width: 25px;
        height: 2px;
        border-radius: 2px;
        background-color: $black;
        display: block;
        transition: 0.6s;
      }
    }

@include breakpointDynamic(780px){
    .desktop-nav{
        display: flex;
    }
    .right-aligned{
        .profile{
            display: inline-block;
        }
        .menu-button{
            display: none;
        }
    }
}

  }
}

#navbar.active{
    box-shadow: 0 2px 4px lighten($black, 85%);
}

.scrollTop {
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 6px;
  border-radius: 100%;
  border: 1px solid $white;
  position: fixed;
  bottom: 32px;
  right: 32px;
  background-color: lighten($color: $primary-color, $amount: 10%);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9;

  i {
    color: $white;
    font-size: 24px;
  }

  &.active {
    display: flex;
  }
}
