:root{
  --primary-color: #2997FF;
  --secondary-color:#0887ff; 
  --white-bg: #FFFFFF;
  --black-bg: #000000;
  --light-grey: #F4F4F4;
  --dark-grey: #D9D9D9;
  --glassmorph-gradient: linear-gradient(to bottom, #F4F4F440, #F4F4F421);
  --font-lg: 60px;
  --font-xl: 75px;
  --font-md: 34px;
  --font-sm: 25px;
  --font-rg: 18px;
  --font-family: 'Outfit', sans-serif;
}

*{
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

button{
  border: transparent;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

body{
  font-family: var(--font-family);
  color: var(--white-bg);
  padding: 0px;
  margin: 0px;
  position: relative;
}

li{
  list-style: none;
  display: flex;
}

.primary-btn{
  background-color: var(--primary-color);
  color: var(--white-bg);
  border-radius: 8px;
  font-family: var(--font-family);
}

.primary-btn:hover{
  background-color: var(--secondary-color);
}

*:-webkit-scrollbar {
  width: 3px;
}

P::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--light-grey);
}