#footer{
    background-color: $bg-light;

    .container{
        padding-block: 2rem;

        nav{
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;
            justify-content: space-between;
            padding-bottom: 30px;
            border-bottom: 1px solid darken($text-muted, 30%);

            @include breakpointDynamic(570px){
                grid-template-columns: 1fr 1fr;
                gap: 2rem;
            }
            @include breakpointDynamic(740px){
                grid-template-columns: 3fr 1fr 1fr;
            }
            @include breakpointDynamic(1040px){
                grid-template-columns: 2fr 1fr 1fr 2fr;
            }

            .footer-column{
                display: flex;
                flex-direction: column;
                gap: 1rem;

                &>div{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }

                &>h3{
                    text-decoration: underline;
                    font-weight: 600;
                }

                .news-letter form{
                    display: flex;
                    gap: 0px;
                    height: fit-content;
                    max-width: 300px;
                    margin-top: 10px;
                  }
                 .news-letter input {
                    padding: 6px;
                    border-radius: 0px;
                    border: none;
                    border-top-left-radius: 6px;
                    color: $black;
                    border-bottom-left-radius: 6px;
                    font-size: 14px;
                  }
                 .news-letter button {
                    padding: 6px;
                    border-radius: 0px;
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;
                    font-size: 14px;
                    margin: 0;
                  }
                  .social-links {
                    display: flex;
                    flex-direction: row;
                    padding-left: 20%;
                    gap: 8px;
                  }
                  .social-links i {
                    font-size: 28px;
                  }
                 .social-links i:hover {
                    transition: 0s;
                  }
            }

            .contact{
                li{
                    display: flex;
                    gap: 10px;
                    align-items: start;
                    margin-block: 6px;

                    i{
                        font-size: 24px;
                    }
                }
            }
        }

        .privacy-policy{
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: space-between;
            align-items: center;
            padding-top: 30px;

            span{
                font-weight: normal;
            }
        }
    }
}